INSTRUCTIONS=Enter the missing information. Copy or rename this file to Settings.user before running the program. Set FIRST_RUN to 0 if tables are not yet created or you wish to delete and re-create the tables.
NOTE=Setting.user will not be comitted to repo when you use git push. 
HOST=localhost
PORT=5432
DATABASE=dbname
USERNAME=username
APIURL=https://api.openai.com/v1/completions
MODEL=text-davinci-003
MAX_TOKENS=1000
TEMPERATURE=0.5
PROMPT=Generate 3 random general multiple-choice quiz questions with correct answers. Format the quiz output using the following JSON format: {'Question 1':{'Question':'Sample question?','Options':{'A':'Sample answer 1','B':'Sample answer 2','C':'Sample answer 3','D':'Sample answer 4'},'Answer':'B'}}. Replace single quotes with double quotes when returning the JSON.
FIRST_RUN=1